.select {
    background-color: transparent;
    padding: 10px 16px;
    border: 1px solid rgba(49, 62, 98, 1);
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-bottom: 14px;
    padding-left: 40px;
    background: url("../src/img/gpt.svg") no-repeat left 10px center;
}